---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
2022 -  Weekly Thursday reading and explanation of the book ”KA Stroud Engineering Mathematics with Dexter Booth” in Yoruba on Facebook. 

2023 -  Weekly explanation of High School mathematics in Yoruba on Ekiti FM, KASMON FM, Iseyin and EKTV Startimes 113.

2023    Introduction to Basic Computer and Programming (UM6P).

2023    Data science - intermediate (DEC, ENS).

2020-2021 Computer Science Methods for Collective Intelligence (1 and 2) (SCI, UM6P).

2022    Experimental methods 2 (SCI, UM6P).

2015-2020 Mathematics for Natural Sciences, Introduction to Calculus, Calculus and Linear Algebra, Further Topics in Mathematics, Advanced Differential Equations, Optimization and optimal control theory, Abstract Algebra, Functional Analysis etc. (UKZN, EACOED/EKSU, FCE Osiele).

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
